.nfs*
*.ipynb
*.pyc
.DS_Store
*.pth
*pycache*
*.tmp
*.pkl
*.out
datasets/opra/clips
datasets/opra/images
datasets/opra/annotations/*.pt
*.so
weights/
outputs/
debug/
.vscode/

configs/epic
configs/assistq
data/epic
data/assistq
configs/opra/maskahand